<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670053862489-149s671f35v6oabpd13ruqfjl1a9n8kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670053862489-149s671f35v6oabpd13ruqfjl1a9n8kd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>670053862489-n0mvnd36ohkda6nrib08bo75p0ml363r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgipj1MYcYgVgpwCpKj0Nsq4fBVua2AZk</string>
	<key>GCM_SENDER_ID</key>
	<string>670053862489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lyanna.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lyanna-bd625</string>
	<key>STORAGE_BUCKET</key>
	<string>lyanna-bd625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670053862489:ios:8602315e39c38f1ce23548</string>
</dict>
</plist>